.git
.gitignore
.editorconfig
.env
.env.*.local
.env.example
.DS_Store
*.md
node_modules
npm-debug.log
yarn-error.log
storage/logs
bootstrap/cache
vendor
.vscode
.idea
*.swp
*.swo
*~
.phpunit.result.cache
.pint.cache
.ddev
.github
docker-compose.yml
docker-compose.*.yml
